<div class="container">
  <h2 class="content">Lista de productos</h2>
  <button class="button-custom" (click)="toggleList()" mat-mini-fab>{{ showList ? 'Ocultar lista' : 'Mostrar lista' }}</button>
  <div *ngIf="showList">
    <mat-list>
      <mat-list-item *ngFor="let item of items">
        <h3 matListItemTitle>{{ item.nombre }}</h3>
        <p matListItemLine>
          <span>{{ item.nombre }}</span>
          <span class="demo-2"> -- {{ item.costo }}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
